<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.merchant.infrastructure.merchant.mapper.AlbumMapper">

    <resultMap type="org.dromara.merchant.infrastructure.merchant.mapper.dataobject.AlbumDO" id="AlbumResult">
        <result property="id" column="id"/>
        <result property="type" column="type"/>
        <result property="name" column="name"/>
        <result property="parentId" column="parent_id"/>
        <result property="merchantId" column="merchant_id"/>
        <result property="url" column="url"/>
        <result property="fileSize" column="file_size"/>
        <result property="fileSuffix" column="file_suffix"/>
        <result property="ossId" column="oss_id"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, type, name, parent_id, merchant_id, tenant_id, url, file_size, file_suffix, oss_id
    </sql>

    <select id="selectAlbumPages" resultType="org.dromara.merchant.client.merchant.dto.data.clientobject.AlbumCO">
        select
        <include refid="Base_Column_List"/>
        from tb_album
        <where>
            <choose>
                <when test="qry.merchantId != null">
                    merchant_id = #{qry.merchantId}
                </when>
                <when test="qry.parentId != null">
                    and parent_id = #{qry.merchantId}
                </when>
                <when test="qry.name != null and qry.name != ''">
                    and name like concat('%', #{qry.name}, '%')
                </when>
                <otherwise>
                    and parent_id = 0
                </otherwise>
            </choose>
        </where>
        order by create_time desc, id asc
    </select>

</mapper>
