<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.merchant.infrastructure.commodity.mapper.BrandMapper">
  <resultMap id="BaseResultMap" type="org.dromara.merchant.infrastructure.commodity.mapper.dataobject.BrandDO">
    <!--@mbg.generated-->
    <!--@Table tb_brand-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="letter" jdbcType="CHAR" property="letter" />
    <result column="seq" jdbcType="INTEGER" property="seq" />
    <result column="merchant_id" jdbcType="BIGINT" property="merchantId" />
    <result column="tenant_id" jdbcType="VARCHAR" property="tenantId" />
    <result column="create_dept" jdbcType="BIGINT" property="createDept" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, image, letter, seq, merchant_id, tenant_id, create_dept, create_by,
    create_time, update_by, update_time
  </sql>

  <select id="selectPage" resultType="org.dromara.merchant.client.commodity.dto.data.clientobject.BrandPageCO">
      select
      brand.id,
      brand.name,
      brand.image,
      brand.letter,
      brand.seq,
      brand.merchant_id
      from tb_brand brand
      <if test="qry.categoryId != null">
          left join tb_category_brand on brand.id = tb_category_brand.brand_id
      </if>
      <where>
          <if test="qry.brandName != null and qry.brandName != ''">
              and `name` like concat('%',#{qry.brandName},'%')
          </if>
          <if test="qry.letter != null and qry.letter != ''">
              and letter = #{qry.letter}
          </if>
          <if test="qry.categoryId != null">
              and category_id = #{qry.categoryId}
          </if>
      </where>
    </select>
</mapper>
