<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.merchant.infrastructure.commodity.mapper.ParaMapper">
  <resultMap id="BaseResultMap" type="org.dromara.merchant.infrastructure.commodity.mapper.dataobject.ParaDO">
    <!--@mbg.generated-->
    <!--@Table tb_para-->
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="options" property="options" />
    <result column="seq" property="seq" />
    <result column="template_id" property="templateId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, `options`, seq, template_id
  </sql>

  <select id="selectPage" resultType="org.dromara.merchant.client.commodity.dto.data.clientobject.ParaPageCO">
      select <include refid="Base_Column_List"/>
      from tb_para
      <where>
          <if test="qry.paraName != null and qry.paraName != ''">
              and `name` like concat('%', #{qry.paraName}, '%')
          </if>
          <if test="qry.templateId != null">
              and template_id = #{qry.templateId}
          </if>
      </where>
    </select>
</mapper>
