<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.merchant.infrastructure.commodity.mapper.SkuMapper">
  <resultMap id="BaseResultMap" type="org.dromara.merchant.infrastructure.commodity.mapper.dataobject.SkuDO">
    <!--@mbg.generated-->
    <!--@Table tb_sku-->
    <id column="id" property="id" />
    <result column="sn" property="sn" />
    <result column="name" property="name" />
    <result column="price" property="price" />
    <result column="member_price" property="memberPrice" />
    <result column="vip_price" property="vipPrice" />
    <result column="original_price" property="originalPrice" />
    <result column="num" property="num" />
    <result column="alert_num" property="alertNum" />
    <result column="image" property="image" />
    <result column="images" property="images" />
    <result column="weight" property="weight" />
    <result column="volume" property="volume" />
    <result column="min_purchase" property="minPurchase" />
    <result column="max_purchase" property="maxPurchase" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
    <result column="spu_id" property="spuId" />
    <result column="category_id" property="categoryId" />
    <result column="category_name" property="categoryName" />
    <result column="brand_name" property="brandName" />
    <result column="spec" property="spec" />
    <result column="sale_num" property="saleNum" />
    <result column="comment_num" property="commentNum" />
    <result column="status" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, sn, `name`, price, member_price, vip_price, original_price, num, alert_num, image,
    images, weight, volume, min_purchase, max_purchase, create_time, update_time, spu_id,
    category_id, category_name, brand_name, spec, sale_num, comment_num, `status`
  </sql>

<!--auto generated by MybatisCodeHelper on 2025-12-09-->
  <select id="selectBySpuId" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List"/>
      from tb_sku
      where spu_id = #{spuId}
  </select>

  <delete id="deleteBySpuId">
      update tb_sku
      set status = 3
      where spu_id = #{spuId}
  </delete>
    <sql id="Join_Column_List">
        <!--@mbg.generated-->
        tb_sku.id             as tb_sku_id,
        tb_sku.sn             as tb_sku_sn,
        tb_sku.name           as tb_sku_name,
        tb_sku.price          as tb_sku_price,
        tb_sku.member_price   as tb_sku_member_price,
        tb_sku.vip_price      as tb_sku_vip_price,
        tb_sku.original_price as tb_sku_original_price,
        tb_sku.num            as tb_sku_num,
        tb_sku.alert_num      as tb_sku_alert_num,
        tb_sku.image          as tb_sku_image,
        tb_sku.images         as tb_sku_images,
        tb_sku.weight         as tb_sku_weight,
        tb_sku.volume         as tb_sku_volume,
        tb_sku.min_purchase   as tb_sku_min_purchase,
        tb_sku.max_purchase   as tb_sku_max_purchase,
        tb_sku.status         as tb_sku_status
    </sql>
    <resultMap id="JoinResultMap" type="org.dromara.merchant.client.commodity.dto.data.clientobject.SkuDetailCO">
        <!--@mbg.generated-->
        <id column="tb_sku_id" property="id"/>
        <result column="tb_sku_sn" property="sn"/>
        <result column="tb_sku_name" property="name"/>
        <result column="tb_sku_price" property="price"/>
        <result column="tb_sku_member_price" property="memberPrice"/>
        <result column="tb_sku_vip_price" property="vipPrice"/>
        <result column="tb_sku_original_price" property="originalPrice"/>
        <result column="tb_sku_num" property="num"/>
        <result column="tb_sku_alert_num" property="alertNum"/>
        <result column="tb_sku_image" property="image"/>
        <result column="tb_sku_images" property="images"/>
        <result column="tb_sku_weight" property="weight"/>
        <result column="tb_sku_volume" property="volume"/>
        <result column="tb_sku_min_purchase" property="minPurchase"/>
        <result column="tb_sku_max_purchase" property="maxPurchase"/>
        <result column="tb_sku_status" property="status"/>
    </resultMap>
</mapper>
