<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.merchant.infrastructure.commodity.mapper.SpuMapper">
    <resultMap id="BaseResultMap" type="org.dromara.merchant.infrastructure.commodity.mapper.dataobject.SpuDO">
        <!--@mbg.generated-->
        <!--@Table tb_spu-->
        <id column="id" property="id"/>
        <result column="sn" property="sn"/>
        <result column="name" property="name"/>
        <result column="caption" property="caption"/>
        <result column="brand_id" property="brandId"/>
        <result column="category1_id" property="category1Id"/>
        <result column="category2_id" property="category2Id"/>
        <result column="category3_id" property="category3Id"/>
        <result column="template_id" property="templateId"/>
        <result column="freight_id" property="freightId"/>
        <result column="freight_type" property="freightType"/>
        <result column="image" property="image"/>
        <result column="images" property="images"/>
        <result column="video" property="video"/>
        <result column="sale_service" property="saleService"/>
        <result column="introduction" property="introduction"/>
        <result column="spec_items" property="specItems"/>
        <result column="para_items" property="paraItems"/>
        <result column="sale_num" property="saleNum"/>
        <result column="comment_num" property="commentNum"/>
        <result column="type" property="type"/>
        <result column="commition" property="commition"/>
        <result column="cart" property="cart"/>
        <result column="stock_unit" property="stockUnit"/>
        <result column="marketable_mode" property="marketableMode"/>
        <result column="marketable_time" property="marketableTime"/>
        <result column="unmarketable_time" property="unmarketableTime"/>
        <result column="is_marketable" property="isMarketable"/>
        <result column="is_enable_spec" property="isEnableSpec"/>
        <result column="is_delete" property="isDelete"/>
        <result column="status" property="status"/>
        <result column="merchant_id" property="merchantId"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        sn,
        `name`,
        caption,
        brand_id,
        category1_id,
        category2_id,
        category3_id,
        template_id,
        freight_id,
        freight_type,
        image,
        images,
        video,
        sale_service,
        introduction,
        spec_items,
        para_items,
        sale_num,
        comment_num,
        `type`,
        commition,
        cart,
        stock_unit,
        marketable_mode,
        marketable_time,
        unmarketable_time,
        is_marketable,
        is_enable_spec,
        is_delete,
        `status`,
        merchant_id,
        tenant_id,
        create_dept,
        create_by,
        create_time,
        update_by,
        update_time
    </sql>

    <select id="selectPage" resultType="org.dromara.merchant.client.commodity.dto.data.clientobject.SpuPageCO">
        SELECT spu.id,
               spu.image,
               spu.`name`,
               (SELECT IF(
                           MIN(price) = MAX(price),
                           MIN(price),
                           CONCAT(MIN(price), ' - ', MAX(price))
                       )
                FROM tb_sku
                WHERE spu_id = spu.id)                                              AS price,
               (SELECT CONCAT_WS('/',
                                 (SELECT `name` FROM tb_category WHERE id = spu.category1_id),
                                 (SELECT `name` FROM tb_category WHERE id = spu.category2_id),
                                 (SELECT `name` FROM tb_category WHERE id = spu.category3_id))
                ) AS category_name,
               spu.is_marketable,
               spu.create_time
        FROM tb_spu spu
        <if test="qry.priceRange != null and qry.priceRange.size() == 2">
            INNER JOIN (
                SELECT spu_id 
                FROM tb_sku 
                WHERE price BETWEEN #{qry.priceRange[0]} AND #{qry.priceRange[1]}
                GROUP BY spu_id
            ) sku_filter ON spu.id = sku_filter.spu_id
        </if>
        <where>
            <if test="qry.name != null and qry.name != ''">
                and spu.`name` like concat('%', #{qry.name}, '%')
            </if>
            <if test="qry.categoryId != null">
                and spu.category3_id = #{qry.categoryId}
            </if>
            <if test="qry.createTimeRange != null and qry.createTimeRange.size() == 2">
                and spu.create_time between #{qry.createTimeRange[0]} and #{qry.createTimeRange[1]}
            </if>
            <if test="qry.marketable != null">
                and spu.is_marketable = #{qry.marketable}
            </if>
            <if test="qry.status != null">
                and spu.status = #{qry.status}
            </if>
            <if test="qry.merchantId != null">
                and spu.merchant_id = #{qry.merchantId}
            </if>
            And spu.is_delete = 0
        </where>
        ORDER BY spu.create_time DESC, spu.id ASC
    </select>


    <sql id="Join_Column_List">
        <!--@mbg.generated-->
        tb_spu.id              as tb_spu_id,
        tb_spu.sn              as tb_spu_sn,
        tb_spu.name            as tb_spu_name,
        tb_spu.caption         as tb_spu_caption,
        tb_spu.brand_id        as tb_spu_brand_id,
        tb_spu.category3_id    as tb_spu_category3_id,
        tb_spu.freight_id      as tb_spu_freight_id,
        tb_spu.freight_type    as tb_spu_freight_type,
        tb_spu.image           as tb_spu_image,
        tb_spu.images          as tb_spu_images,
        tb_spu.video           as tb_spu_video,
        tb_spu.introduction    as tb_spu_introduction,
        tb_spu.spec_items      as tb_spu_spec_items,
        tb_spu.para_items      as tb_spu_para_items,
        tb_spu.sale_num        as tb_spu_sale_num,
        tb_spu.comment_num     as tb_spu_comment_num,
        tb_spu.type            as tb_spu_type,
        tb_spu.commition       as tb_spu_commition,
        tb_spu.cart            as tb_spu_cart,
        tb_spu.stock_unit      as tb_spu_stock_unit,
        tb_spu.marketable_mode as tb_spu_marketable_mode,
        tb_spu.is_enable_spec  as tb_spu_is_enable_spec
    </sql>

    <resultMap id="JoinResultMap" type="org.dromara.merchant.client.commodity.dto.data.clientobject.SpuDetailCO">
        <!--@mbg.generated-->
        <id column="tb_spu_id" property="id"/>
        <result column="tb_spu_sn" property="sn"/>
        <result column="tb_spu_name" property="name"/>
        <result column="tb_spu_caption" property="caption"/>
        <result column="tb_spu_brand_id" property="brandId"/>
        <result column="tb_spu_category3_id" property="category3Id"/>
        <result column="tb_spu_freight_id" property="freightId"/>
        <result column="tb_spu_freight_type" property="freightType"/>
        <result column="tb_spu_image" property="image"/>
        <result column="tb_spu_images" property="images"/>
        <result column="tb_spu_video" property="video"/>
        <result column="tb_spu_introduction" property="introduction"/>
        <result column="tb_spu_spec_items" property="specItems"/>
        <result column="tb_spu_para_items" property="paraItems"/>
        <result column="tb_spu_sale_num" property="saleNum"/>
        <result column="tb_spu_comment_num" property="commentNum"/>
        <result column="tb_spu_type" property="type"/>
        <result column="tb_spu_commition" property="commition"/>
        <result column="tb_spu_cart" property="cart"/>
        <result column="tb_spu_stock_unit" property="stockUnit"/>
        <result column="tb_spu_marketable_mode" property="marketableMode"/>
        <result column="tb_spu_is_enable_spec" property="isEnableSpec"/>
    </resultMap>

    <resultMap id="SpuAndSkusResult"
               type="org.dromara.merchant.client.commodity.dto.data.clientobject.SpuDetailCO"
               extends="JoinResultMap">
        <collection property="skus" ofType="org.dromara.merchant.client.commodity.dto.data.clientobject.SkuDetailCO"
                    resultMap="org.dromara.merchant.infrastructure.commodity.mapper.SkuMapper.JoinResultMap"/>
    </resultMap>
    <select id="selectDetailById" resultMap="SpuAndSkusResult">
        select <include refid="Join_Column_List"/>,
        <include refid="org.dromara.merchant.infrastructure.commodity.mapper.SkuMapper.Join_Column_List"/>
        from tb_spu join tb_sku on tb_spu.id = tb_sku.spu_id
        where tb_spu.id = #{id}
    </select>
</mapper>
