<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.merchant.infrastructure.freight.mapper.ExpressAreaMapper">

    <resultMap type="org.dromara.merchant.infrastructure.freight.mapper.dataobject.ExpressAreaDO" id="BaseResultMap">
        <result property="areaId" column="area_id"/>
        <result property="templateId" column="template_id"/>
        <result property="adCode" column="adcode"/>
        <result property="baseWeightQuantityVolume" column="base_weight_quantity_volume"/>
        <result property="baseFee" column="base_fee"/>
        <result property="additionalWeightQuantityVolume" column="additional_weight_quantity_volume"/>
        <result property="additionalFee" column="additional_fee"/>
        <result property="sort" column="sort"/>
    </resultMap>

    <sql id="Base_Column_List">
        area_id,
        template_id,
        adcode,
        base_weight_quantity_volume,
        base_fee,
        additional_weight_quantity_volume,
        additional_fee,
        sort
    </sql>

    <select id="selectByTemplateId" parameterType="long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_merchant_shipping_area
        where template_id = #{templateId}
        order by sort
    </select>

    <delete id="deleteByTemplateId" parameterType="long">
        delete from tb_merchant_shipping_area where template_id = #{templateId}
    </delete>

</mapper>
