<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.merchant.infrastructure.freight.mapper.ExpressTemplateMapper">
    <resultMap type="org.dromara.merchant.infrastructure.freight.mapper.dataobject.ExpressTemplateDO"
               id="BaseResultMap">
        <result property="templateId" column="template_id"/>
        <result property="merchantId" column="merchant_id"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="templateName" column="template_name"/>
        <result property="billingMethod" column="billing_method"/>
        <result property="freeShipping" column="free_shipping"/>
        <result property="isDefault" column="is_default"/>
        <result property="status" column="status"/>
        <result property="sort" column="sort"/>
        <result property="description" column="description"/>
    </resultMap>

    <sql id="Base_Column_List">
        template_id,
        merchant_id,
        tenant_id,
        template_name,
        billing_method,
        is_default,
        free_shipping,
        status,
        sort,
        description
    </sql>

    <select id="selectPages" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_merchant_shipping_template
        <where>
            <if test="qry.templateName != null and qry.templateName != ''">
                and template_name like concat('%', #{qry.templateName}, '%')
            </if>
            <if test="qry.merchantId != null">
                and merchant_id = #{qry.merchantId}
            </if>
            <if test="qry.status != null and qry.status != ''">
                and status = #{qry.status}
            </if>
        </where>
        order by sort asc, create_time desc
    </select>

    <select id="selectByMerchantIdAndIsDefault" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_merchant_shipping_template
        where merchant_id = #{merchantId}
    </select>

    <update id="setDefaultByMerchantId" parameterType="long">
        update tb_merchant_shipping_template
        SET is_default = CASE
                             WHEN is_default = 1 THEN 0 -- 原默认记录设为 0
                             WHEN template_id = #{templateId} THEN 1 -- 新记录设为 1
                             ELSE is_default -- 其他保持不变（可选）
            END
        WHERE (is_default = 1 OR template_id = #{templateId}) -- 仅更新相关行
          AND merchant_id = #{merchantId}
    </update>


    <resultMap id="JoinResultMap"
               type="org.dromara.merchant.client.freight.dto.data.clientobject.ExpressTemplateCO">
        <!--@mbg.generated-->
        <result column="template_id" property="templateId"/>
        <result column="merchant_id" property="merchantId"/>
        <result column="template_name" property="templateName"/>
        <result column="billing_method" property="billingMethod"/>
        <result column="is_default" property="isDefault"/>
        <result column="free_shipping" property="freeShipping"/>
        <result column="status" property="status"/>
        <result column="sort" property="sort"/>
        <result column="description" property="description"/>
        <collection
            property="expressAreas"
            ofType="org.dromara.merchant.client.freight.dto.data.clientobject.ExpressAreaCO"
            column="template_id"
            select="org.dromara.merchant.infrastructure.freight.mapper.ExpressAreaMapper.selectByTemplateId"
        />
    </resultMap>

    <select id="selectByPrimaryKey" parameterType="long" resultMap="JoinResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_merchant_shipping_template
        where template_id = #{templateId}
    </select>


    <select id="selectByTemplateIds" resultMap="JoinResultMap">
        select <include refid="Base_Column_List"/>
        from tb_merchant_shipping_template
        where template_id in
        <foreach item="item" index="index" collection="expressTemplateIds" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>
</mapper>
