<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.dromara.merchant.infrastructure.order.mapper.OrderItemMapper">

    <resultMap id="Base_Result_Map" type="org.dromara.merchant.infrastructure.order.mapper.dataobject.OrderItemDO">
        <result column="order_item_id" property="orderItemId"/>
        <result column="order_id" property="orderId"/>
        <result column="spu_id" property="spuId"/>
        <result column="sku_id" property="skuId"/>
        <result column="sku_name" property="skuName"/>
        <result column="sku_pic" property="skuPic"/>
        <result column="sku_spec" property="skuSpec"/>
        <result column="price" property="price"/>
        <result column="quantity" property="quantity"/>
        <result column="subtotal" property="subtotal"/>
        <result column="discount_amount" property="discountAmount"/>
        <result column="final_amount" property="finalAmount"/>
        <result column="commission_rate" property="commissionRate"/>
        <result column="commission_amount" property="commissionAmount"/>
        <result column="ext_info" property="extInfo"/>
    </resultMap>

    <sql id="Base_Column_List">
        order_item_id,
        order_id,
        spu_id,
        sku_id,
        sku_name,
        sku_pic,
        sku_spec,
        price,
        quantity,
        discount_amount,
        final_amount,
        commission_rate,
        commission_amount,
        post_fee,
        subtotal,
        ext_info
    </sql>

    <resultMap id="COResultMap" type="org.dromara.merchant.client.order.dto.data.clientobject.OrderItemCO">
        <id column="order_item_id" property="orderItemId"/>
        <result column="order_id" property="orderId"/>
        <result column="spu_id" property="spuId"/>
        <result column="sku_id" property="skuId"/>
        <result column="sku_name" property="skuName"/>
        <result column="sku_pic" property="skuPic"/>
        <result column="sku_spec" property="skuSpec"/>
        <result column="price" property="unitPrice"/>
        <result column="quantity" property="quantity"/>
        <result column="discount_amount" property="discountAmount"/>
        <result column="final_amount" property="finalAmount"/>
        <result column="commission_rate" property="commissionRate"/>
        <result column="commission_amount" property="commissionAmount"/>
        <result column="post_fee" property="postFee"/>
        <result column="subtotal" property="subtotal"/>
        <result column="ext_info" property="extInfo"/>
    </resultMap>

    <select id="queryOrderItemCOByOrderId" resultMap="COResultMap">
        select <include refid="Base_Column_List"/>
        from tb_order_item
        where order_id = #{orderId}
    </select>

    <resultMap id="DomainResultMap" type="org.dromara.merchant.domain.order.model.OrderItem">
        <id column="order_item_id" property="orderItemId"/>
        <result column="order_id" property="orderId"/>
        <result column="spu_id" property="spuId"/>
        <result column="sku_id" property="skuId"/>
        <result column="sku_name" property="skuName"/>
        <result column="sku_pic" property="skuPic"/>
        <result column="sku_spec" property="skuSpec"/>
        <result column="price" property="price"/>
        <result column="quantity" property="quantity"/>
        <result column="discount_amount" property="discountAmount"/>
        <result column="final_amount" property="finalAmount"/>
        <result column="commission_rate" property="commissionRate"/>
        <result column="commission_amount" property="commissionAmount"/>
        <result column="post_fee" property="postFee"/>
        <result column="subtotal" property="subtotal"/>
        <result column="ext_info" property="extInfo"/>
    </resultMap>
    <select id="queryOrderItemByOrderId" resultMap="DomainResultMap">
        select <include refid="Base_Column_List"/>
        from tb_order_item
        where order_id = #{orderId}
    </select>
</mapper>
